@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/roboto-condensed-v16-400-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/roboto-condensed-v16-400-latin-extended.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/roboto-condensed-v16-400-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(../fonts/roboto-condensed-v16-700-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(../fonts/roboto-condensed-v16-700-latin-extended.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(../fonts/roboto-condensed-v16-700-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background: #e6eaf0;
  color: #3a3a3a;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  padding: 20px;
  position: relative;
}
table {
  border: 1px double #c0bec3;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #d5dce6;
  padding: 6px 8px;
  vertical-align: middle;
}
th {
  background: #f2f2f3;
  border-bottom: 1px double #c0bec3;
  color: #7f8fa4;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
td {
  background: #fff;
}
button {
  background: gray;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  outline: none;
  padding: 0 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
  white-space: nowrap;
}
button.blue {
  background: #0af;
}
button.blue:hover {
  background: #1c5da2;
}
button.blue:active {
  background: #134b86;
}
button.green {
  background: #1bb933;
}
button.green:hover {
  background: #0aa224;
}
button.green:active {
  background: #088a1c;
}
button.gray {
  background: #5f6773;
}
button.gray:hover {
  background: #333b47;
}
button.gray:active {
  background: #222830;
}
button.red {
  background: #5f6874;
}
button.red:hover {
  background: #f62943;
}
button.red:active {
  background: #bd0a0a;
}
button.danger {
  background: #f9243d;
}
button.danger:hover {
  background: #de214d;
}
button.danger:active {
  background: #a21436;
}
button.small {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
}
section .container {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  width: 940px;
}
.page-title {
  color: #1f4f74;
  font-size: 32px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 20px;
}
.page-subtitle {
  color: #556d8c;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
div.warning,
div.error,
div.info {
  border: 1px solid #d5dce6;
  border-left: 4px solid #acb0b5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  padding: 10px;
}
div.warning {
  background: #fcfaf8;
  border-left-color: #ff7800;
}
div.error {
  background: #fcf8f8;
  border-left-color: #ff003d;
}
div.info {
  background: #f8fafc;
  border-left-color: #00a8ff;
}
table.sensors td,
table.powerUnits td {
  text-align: center;
}
table.sensors td.name,
table.powerUnits td.name {
  text-align: left;
}
table td.actions {
  white-space: nowrap;
}
table td.actions button {
  margin-right: 8px;
}
table td.actions button:last-child {
  margin-right: 0;
}
.status {
  white-space: nowrap;
}
.status .circle {
  border: 3px solid #000;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: top;
  margin: 4px 6px 0 0;
}
.status.gray {
  color: #7f8fa4;
}
.status.gray .circle {
  background: #7f8fa4;
  border-color: #d8dde4;
}
.status.green {
  color: #19b934;
}
.status.green .circle {
  background: #19b934;
  border-color: #c1f7ca;
}
.status.red {
  color: #f9243d;
}
.status.red .circle {
  background: #f9243d;
  border-color: #fed2d7;
}
.status.orange {
  color: #ff7800
}
.status.orange .circle {
  background: #ff7800;
  border-color: #ffe4cc;
}
